@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  background-color: #0c213c;
}
header .MainContainer {
  font-weight: 550;
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  background-color: #0c213c;
  height: 70px;
  align-items: left;
}
header .MainContainer .LeftDiv {
  width: 20rem;
  background-color: #0c213c;
  display: table;
}
header .MainContainer .RigthDiv {
  height: 100%;
  width: 21rem;
  margin-right: 20px;
  background-color: #0c213c;
  display: flex;
  align-items: right;
  justify-content: space-evenly;
  color: white;
}
header .MainContainer .RigthDiv:hover {
  background-color: #1a497a;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header a {
  text-decoration: none;
  color: #ffffff;
}
header .barra {
  background-color: #0c213c;
}
header .barra:hover {
  background-color: #1a497a;
}
header .padre {
  height: 100%;
  align-items: center;
}
header .padre i {
  margin-right: 1.5rem;
}
header .navegacion {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
header .navegacion a {
  padding: 1rem;
  display: block;
}

@media (min-width: 768px) {
  header .navegacion {
    flex-direction: row;
  }
}

.navegacion li:hover .submenu a{
  visibility: visible;
  transition: all 0.3s;
  background-color: #1a497a;
}

header .enlace {
  position: relative;
  display: inline-block;
}
header .enlace:target .submenu {
  max-height: 350px;
}
header .submenu {
  position: absolute;
  background-color: #1a497a;
  visibility: hidden;
  max-height: 0;
  transition: opacity 0.8s;
}
header .submenu a:hover {
  visibility: visible;
  background-color: #375b83;
}

@media (min-width: 768px) {
  header .enlace {
    flex: 1;
    position: relative;
    overflow: visible;
  }
  header .enlace .submenu {
    position: absolute;
    width: 100%;
  }
}
@media (min-width: 768px) {
  header .submenu a {
    display: none;
  }
  header .enlace:target .submenu a {
    display: block;
  }
}