@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  /*background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);*/
}

.loggin-container {
  height: 43.75em;
  width: 60em;
  margin: 6em auto;
  display: flex;
  overflow: hidden;
  /*Para que se vean las esquinas*/
  border-radius: 10px;
  justify-content: center;
}

.loggin-info-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid red;
  border-radius: 5px;
  padding-top: 0.5rem;
  background-color: yellow;
}

/*.image-container{
    width: 50%;
    padding: 2rem;
    background-color: var(--image-bg);
    box-sizing: border-box;
}*/
.title {
  margin-top: 1em;
  text-transform: capitalize;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: blue;
}

.social-login {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.social-login .social-login-element {
  margin-top: 1.5em;
  width: 12.5rem;
  height: 3.75rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid green;
}
.social-login .social-login-element img {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  top: 0;
  left: -0.625rem;
}
.social-login .social-login-element:hover {
  background-color: white;
  cursor: pointer;
}

.loggin-info-container p {
  font-size: 1.25em;
  margin-top: 1.5em;
}
.loggin-info-container .inputs-container {
  margin-top: 1.5em;
  border: 1px solid red;
  height: 55%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input, .btn {
  width: 90%;
  height: 3.125rem;
  font-size: 1em;
}

.input {
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.input :hover {
  border: 2px solid black;
}

.btn {
  width: 80%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  background-color: magenta;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.inputs-container p {
  margin: 0;
}

span {
  color: orange;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .image-container {
    display: none;
  }

  .loggin-container {
    border: 2px solid red;
    width: 70%;
    margin-top: 3rem;
  }

  .loggin-info-container {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .loggin-container {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .loggin-container {
    width: 90%;
  }

  .title {
    margin-top: 0.3em;
  }

  .loggin-info-container p {
    margin-top: 0.3em;
  }
  .loggin-info-container .inputs-container {
    margin-top: 0.3em;
  }

  .social-login {
    margin-top: 0em;
    flex-direction: column;
    align-items: center;
    height: 30%;
  }
}

/*# sourceMappingURL=LoginStyle.css.map */
