@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to top, #1a497a 0%, #c5c5c5 100%);
}

header {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  background-color: #0c213c;
}
header .MainContainer {
  font-weight: 550;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #0c213c;
  height: 70px;
  align-items: center;
}
header .MainContainer .LeftDiv {
  width: 15rem;
  background-color: #0c213c;
  display: block;
}
header .MainContainer .RigthDiv {
  height: 100%;
  width: 10rem;
  background-color: #0c213c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
header .MainContainer .RigthDiv:hover {
  background-color: #1a497a;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header a {
  text-decoration: none;
  color: #ffffff;
}
header .barra {
  background-color: #0c213c;
}
header .barra:hover {
  background-color: #1a497a;
}
header .padre {
  height: 100%;
  align-items: center;
}
header .padre i {
  margin-right: 1.5rem;
}
header .navegacion {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
header .navegacion a {
  padding: 1rem;
  display: block;
}

.loggin-container {
  height: 43.75em;
  width: 60em;
  margin: 6em auto;
  display: flex;
  overflow: hidden;
  /*Para que se vean las esquinas*/
  border-radius: 10px;
  justify-content: center;
}

.loggin-info-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding-top: 0.5rem;
  background-image: linear-gradient(to top, #2bb4c8 0%, #2bc8a6 100%);
  /*background-color: yellow;*/
}

.title {
  margin-top: 1em;
  text-transform: capitalize;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #e2e4a7;
}

.social-login {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.social-login .social-login-element {
  margin-top: 1.5em;
  width: 12.5rem;
  height: 3.75rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #1a497a;
}
.social-login .social-login-element img {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  top: 0;
  left: -0.625rem;
}
.social-login .social-login-element:hover {
  background-color: #1a497a;
  cursor: pointer;
}
.social-login .social-login-element:hover span {
  color: #e2e4a7;
}

.loggin-info-container p {
  font-size: 1.25em;
  margin-top: 1.5em;
}
.loggin-info-container .inputs-container {
  margin-top: 1.5em;
  height: 55%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input, .btn {
  width: 90%;
  height: 3.125rem;
  font-size: 1em;
}

.input {
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.input:hover {
  border: 2px solid #1a497a;
}

.btn {
  width: 80%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  background-color: #1a497a;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.inputs-container p {
  margin: 0;
}

span {
  color: #e2e2e2;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .image-container {
    display: none;
  }

  .loggin-container {
    width: 70%;
    margin-top: 3rem;
  }

  .loggin-info-container {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .loggin-container {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .loggin-container {
    width: 90%;
  }

  .title {
    margin-top: 0.3em;
  }

  .loggin-info-container p {
    margin-top: 0.3em;
  }
  .loggin-info-container .inputs-container {
    margin-top: 0.3em;
  }

  .social-login {
    margin-top: 0em;
    flex-direction: column;
    align-items: center;
    height: 30%;
  }
}
@media (min-width: 768px) {
  header .navegacion {
    flex-direction: row;
  }
}
header .enlace {
  overflow: hidden;
}
header .enlace:target .submenu {
  max-height: 300px;
}
header .submenu {
  background-color: #1a497a;
  max-height: 0;
  transition: 0.8s;
}
header .submenu a:hover {
  background-color: #375b83;
}

@media (min-width: 768px) {
  header .enlace {
    flex: 1;
    position: relative;
    overflow: visible;
  }
  header .enlace .submenu {
    position: absolute;
    width: 100%;
  }
}
@media (min-width: 768px) {
  header .submenu a {
    display: none;
  }
  header .enlace:target .submenu a {
    display: block;
  }
}

/*# sourceMappingURL=LoginStyle.css.map */
