/*FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;

}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;

}

.box_footer .logo img {
    width: 100px;
}

.box_footer .presentation {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    text-align: justify;
}