@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Nunito',Helvetica,Arial,sans-serif;
}

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #2bb4c8;
}

.sidebar_title{
    padding: 1rem 0rem 1rem 2rem;
    color: #e2e4a7;

}

.product_list li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding: 1rem 0rem 1rem 2rem;
}

.product_list a{
    display: block;
    color: #e2e2e2;
    font-size: 1.1rem;
}

.product_info{
    margin-left: 345px;
}