<header>

</header>

<main>
  <div class="container">
    <h3> PRODUCT REGISTER </h3>

    <section class = "main-input">
      <label for="inputValues" class= "col-sm-3 col-form-label">Product ID: </label>
      <div class = "main-input-container">
        <span class="dollar-icon"> <i class="fas fa-barcode"></i> </span>
        <input type = "text/css" placeholder="e.g., 123">
      </div>
    </section>

    <section class = "main-input">
      <label for="inputValues" class= "col-sm-3 col-form-label">Description: </label>
      <div class = "main-input-container">
        <span class="dollar-icon"> <i class="fas fa-align-justify"></i> </span>
        <input type = "text/css" placeholder="e.g., Tenis">
      </div>
    </section>

    <section class = "main-input">
      <label for="inputValues" class= "col-sm-3 col-form-label">Unit Value: </label>
      <div class = "main-input-container">
        <span class="dollar-icon"> <i class="fas fa-dollar-sign"></i> </span>
        <input type = "text/css" placeholder="e.g., 125000">
      </div>
    </section>

    <section class = "main-input">
      <label for="inputPassword" class="col-sm-3 col-form-label">Product state: </label>
      <div>
        <select class="form-select " aria-label="Default select example">
          <option selected>Choose...</option>
          <option value="1">In-stock</option>
          <option value="2">Out-of-stock</option>
        </select>
      </div>
    </section>

    <section class = "main-buttons">
      <div>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
      <div>
        <button type="button" class="btn btn-primary">Clear</button>
      </div>
      <div>
        <button type="button" class="btn btn-primary">Product List</button>
      </div>
    </section>
    
  </div>
</main>

<footer>

</footer>