*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    .MainContainer{
        display: block;
        background-color: aqua;
        height: 48px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .LeftBar{
        margin-left: 2em;
        height: 100%;
        width: auto;
        background-color: red;
        display: flex;
    }
    .NavDiv{
        background-color: rgb(238, 255, 0);
        height: 100%;
        width: 200px;
        ul, ol {
            list-style: none;
        }
        .NavMenu li a{
            background-color: black;
            color: white;
            text-decoration: none;
            width: 200px;
            padding: 10px 15px;
            display: block;
        }
        .NavMenu li a:hover{
            background-color: gray;
            color: black {};
        }
        .NavMenu li ul{
            display: none;
        }
    }
    .BrandLogo{
        height: 100%;
        width: 120px;
        background-color: orangered;
    }
    .LoggedAccount{
        margin-right: 2em;
        background-color: violet;
        float: right;
        right: 10px;
        height: 100%;
        width: 200px;
    }
}