.Button {
    margin-top: 6px;
    height: 36px;
    background-color: #e2e2e2;
    border: 0;
    font-size: 16px;
    color: #2bb4c8;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
    border: 1px solid #c5c5c5;
    cursor: pointer;
}

.Button:hover {
    border: 1px solid #1a497a;
    box-shadow: 0 1px 1px #c5c5c5;
    color: #2bc8a6;
}