.container {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 90%; 
    max-height: 90%; 
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    background-color: #e2e2e2;
    color: #1a497a;
    font-weight: bold;
    font-family: Nunito,Helvetica,Arial,sans-serif;
    
}

.container-title {
    font-size: 24px;
    text-align: center;
    color: #1a497a;
    font-weight: bold;
    padding-bottom: 25px;
}

.main-input {
    width: 100%;
    text-align: center;
    margin-left: 0 auto;
    
}